* {
    body,
    html {
        height: 100%;
        margin: 0 0 0 0;
    }
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

span,
h6,
h5,
h4,
h3,
h2,
h1,
a,
p {
    font-family: 'MuseoSansCyrl';
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1180px;
    @media (max-width:1200px) {
        max-width: 970px;
    }
    @media (max-width:992px) {
        max-width: 768px;
    }
    @media (max-width:767px) {
        max-width: none;
    }
}